{% extends "MainApp/base.html" %}
{% block title %}my blog{% endblock %}
{% block content %}
    <h1>Blog entries</h1>


        {% for post in posts %}
            {% if post.category.category == "Philosophy" %}
            <div id="post_list">
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                        <div id="edit-delete">
                            <a href="{% url 'MainApp:update_post' post.pk %}">Edit</a>
                            <a href="{% url 'MainApp:delete_post' post.pk %}">Delete</a>
                        </div>

                    {% endif %}
                {% endif %}
            <h1>{{ post.category }}</h1>
                <a href="{% url 'MainApp:post_detail' post.pk %}">

                <h2 id="post_title">
                        {{ post.title }}
                </h2>
                <div id="post_info">
                <p class="date">
                    Published {{ post.publish }} by {{ post.author }}
                </p>
                </div>

                </a>
                </div>
                </br>
            {% endif %}

        {% endfor %}


{% include "pagination.html" with page=posts %}
{% endblock %}