{% extends "MainApp/base.html" %}
{% block content %}
<h1>Polls</h1>
<br>
<div>
    {% for poll in poll_list %}
        {% if request.user.profile.academic_field|lower == poll.category|lower %}
            <strong><h2><a href="{% url 'poll_details' poll.pk %}">{{ poll.title }}</a></h2></strong>
            </br>
        {% else %}
            <strong><h2><a href="{% url 'results' poll.id %}">{{ poll.title }}</a></h2></strong>
            <br>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}